{% extends 'index.html' %}
{% load static %}
{% block content %}

    <div id="page-container">
    <div class="faq">
    <h1>FAQ</h1>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        How to buy property?
                    </button>
                </h5>
            </div>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                    <div class="card-body">
                        <ul>
                            <li>Start by signing up free of charge <b>Accounts>Sign up</b></li>
                            <li>Browse for properties, you can customise you search to your needs in the search
                                bar
                            </li>
                            <li>Proceed to buy properties once you have found the ONE</li>
                            <li>Follow the payment steps</li>
                            <li>Get your new property licence via email</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How to sell property?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>Start by signing up free of charge <b>Accounts>Sign up</b></li>
                            <li>View your profile and press <b>Add property</b></li>
                            <li>Fill in the information about your property</li>
                            <li>Your property will be added now watch as you make some coin</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            How to contact seller?
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>Find a property your interested in</li>
                            <li>Click the link to the seller</li>
                            <li>Send the seller an email regarding the property</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Why we care about monsters?
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>“You guys know about vampires? … You know, vampires have no reflections in a mirror? There’s
                            this idea that monsters don’t have reflections in a mirror. And what I’ve always thought
                            isn’t that monsters don’t have reflections in a mirror. It’s that if you want to make a
                            human being into a monster, deny them, at the cultural level, any reflection of themselves.
                            And growing up, I felt like a monster in some ways. I didn’t see myself reflected at all. I
                            was like, “Yo, is something wrong with me? That the whole society seems to think that people
                            like me don’t exist?" And part of what inspired me, was this deep desire that before I died,
                            I would make a couple of mirrors. That I would make some mirrors so that kids like me might
                            see themselves reflected back and might not feel so monstrous for it.”
                            ― <i>Junot Díaz</i></p>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>
        <div class="the-team"> <!--style="margin: 5%;"-->
            <h1>MEET THE TEAM</h1>
            <p> Our group consists of 5 self-proclaimed programmers that have been
                given the assignment of creating this complex website, in 15*8=120 hours. we started with, nothing, and
                we ended up with, well, this website. 120*5=600 hours, and paying a programmer 5000ISK per hour would
                end with a pricetag of 1.200.000 ISK. That shows how much we have yet to learn, but we are proud.
                WE ARE PROUD.</p>
            <div class="card-group">
                <div class="card">
                    <img src="{% static 'images/alex.png' %}" class="card-img-top" alt="creator-alex">
                    <div class="card-body">
                        <h5 class="card-title">Alexandra Diljá</h5>
                        <p class="card-text">Our HTML-developer. No .html file is finished without the help of Alex</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/arna.png' %}" class="card-img-top" alt="creator-arna">
                    <div class="card-body">
                        <h5 class="card-title">Arna Rut</h5>
                        <p class="card-text">Arna Rut is our data scientist. She got 9.5 on Tölvuhögun, because, data.
                            Where there is data there is Arna. The Icelandic name for data has actually been given the
                            name "arna" because of her contribution.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/bergur.png' %}" class="card-img-top" alt="creator-bergur">
                    <div class="card-body">
                        <h5 class="card-title">Bergur Þór</h5>
                        <p class="card-text">Bergur Þór is our Python and shortcut advisor. Did you know the opposite
                            of ctrl+z is ctrl+y, or that ctrl+x is "cut". and you can do everything with the tab? </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/solla.jpg' %}" class="card-img-top" alt="creator-solrun">
                    <div class="card-body">
                        <h5 class="card-title">Sólrún Ásta</h5>
                        <p class="card-text"> Sólrún is our MTV software developer and debugger. She is a debugger fan.
                            She loves errors. whether it is syntax errors, system failure(her favorite), server error
                            or solving github conflicts, Sólrún is there to help.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/vignir.png' %}" class="card-img-top" alt="creator-vignir">
                    <div class="card-body">
                        <h5 class="card-title">Vignir Heiðars</h5>
                        <p class="card-text">Vignir was an accident. We were missing a team member and Vignir was
                            negotiating with the computer science department for getting him replaced to another group.
                            We saw how desperate he was felt pitty for him so we adopted him into our group.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
