{% extends 'index.html' %}
{% load static %}
{% block content %}



    <div class="container"  style="background-image: url({%static 'images/vignir.png' %});"  >
  <!-- <img src="%static 'images/vignir.png' %}" alt="Frontpage Photo" width=100%  height="500"> -->
        <h1> MONSTER HOUSING </h1>
        <h2> Global Online Housing Market </h2>
        <h3> Here to find you your final home </h3>

        <p>hfdgh dfgh fgh dfgh dfgh hfdg dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh

          hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh  hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh

          hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh  hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh  hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh  hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh




          hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh  hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh  hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfgh

        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh
        hfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghhfdgh dfgh fgh dfgh dfghdf</p>

</div>















  {% endblock %}


