{% extends 'index.html' %}
{% load static %}
{% block content %}

    <div class="comp article-body mntl-block" id="article-body_1-0">
        <h1>Terms & Conditions</h1>
        <div class="article">
            <div class="text">
                <p>When you formally make an offer on a home you want to buy;
                    you'll fill out a lot of paperwork specifying the terms of your offer. Aside from the obvious things
                    like the address and purchase price of the property on which you're making
                    an offer, here are some items you should be sure to include in your real
                    estate purchase contract.</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <h3 id="mntl-sc-block_1-0-2" class="comp mntl-sc-block mntl-sc-block-heading"><span
                    class="mntl-sc-block-heading__text"> 1. Finance Terms </span></h3>
            <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
            <div class="text">
                <p>If you are like most people and you won't be able to buy the home without obtaining a mortgage, your
                    purchase
                    offer should state that your offer is contingent upon obtaining financing at a specified interest
                    rate. It is
                    beneficial that you research interest rates in advance and try to get pre-approved for a mortgage.
                    Here's why. If you know you can't afford the monthly payment on the house if the interest rate is
                    higher than 6%, don't put 6.5% in your offer. If you do that and you are only able to obtain
                    financing at 6.5%, the will get to keep your earnest
                    money deposit when you have to back out of the offer.</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->

            <div class="text">
                <p>If you need to obtain a certain type of loan to complete the deal, such as an FHA or VA loan, you
                    should also
                    specify this in your contract. If you are paying all cash for the property, you should state this as
                    well because it makes your offer more attractive to sellers. Why? If you don't have to get a
                    mortgage, the deal is more likely to go through, and closing is more likely to happen on time.
                    (Learn more in <em>6
                        Ways To Come Up With A Down Payment On A Home</em>.)</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->

            </div><!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
            <a class="heading-toc" id="2-seller-assist"></a>
            <h3 id="mntl-sc-block_1-0-7" class="comp mntl-sc-block mntl-sc-block-heading"><span
                    class="mntl-sc-block-heading__text"> 2. Seller Assist </span></h3>
            <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
            <div class="text">
                <p>If you want the seller to pay part or all of your closing costs, you must
                    ask for it in your offer. The offer should state the&nbsp;closing costs you are requesting as a
                    dollar amount (e.g., $6,000) or as a percentage of the home's purchase price (e.g., 3%).</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <div id="mntl-sc-block_1-0-9" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
            <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
            <h3 id="mntl-sc-block_1-0-10" class="comp mntl-sc-block mntl-sc-block-heading"><span
                    class="mntl-sc-block-heading__text"> 3. Who Pays Specific Closing Costs </span></h3>
            <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
            <div class="text">
                <p>The agreement should specify whether the buyer or seller will pay for each of the common fees
                    associated with the home purchase, such as escrow
                    fees, fees,
                    title insurance, notary fees, recording fees, transfer tax and so
                    on. can advise you as to whether it is the buyer or seller who customarily
                    pays each of these fees in your area.</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <h3 id="mntl-sc-block_1-0-13" class="comp mntl-sc-block mntl-sc-block-heading"><span
                    class="mntl-sc-block-heading__text"> 4. Home Inspection </span></h3>
            <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
            <div class="text">
                <p>Unless you are buying a tear-down, you should include a home
                    inspectioncontingency
                    in your offer. This clause allows you to walk away from the deal if a home inspection reveals
                    significant and/or expensive-to-repair flaws in the structure's condition. For example, if the home
                    inspection reveals that the home needs a new roof at a cost of $15,000, the home inspection
                    contingency would give you the option to walk away from the deal.</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <h3 id="mntl-sc-block_1-0-16" class="comp mntl-sc-block mntl-sc-block-heading"><span
                    class="mntl-sc-block-heading__text"> 5. Fixtures and Appliances </span></h3>
            <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
            <div class="text">
                <p>If you want the refrigerator, dishwasher, stove, oven, washing machine or any other fixtures and
                    appliances, do not rely on a verbal agreement with the seller and do not assume anything. Specify in
                    the contract any fixtures and appliances that are to be included in the purchase.</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <h3 id="mntl-sc-block_1-0-19" class="comp mntl-sc-block mntl-sc-block-heading"><span
                    class="mntl-sc-block-heading__text"> 6. Closing Date </span></h3>
            <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
            <div class="text">
                <p>How much time do you need to complete the purchase transaction? Common time frames are 30 days, 45
                    days and 60 days. Issues that can affect this time frame might include the seller's need to find a
                    new home, the remaining term on your lease if you
                    are currently renting, the amount of time you have to relocate if you are moving from a job, and so
                    on. Occasionally, the buyer or seller might want a closing as short as two weeks, but it's difficult
                    to remove all the contingencies and obtain all the necessary paperwork and funding in such a short
                    period. (Learn more in <em>10
                        Hurdles To Closing On A New Home</em>.)</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <h3 id="mntl-sc-block_1-0-22" class="comp mntl-sc-block mntl-sc-block-heading"><span
                    class="mntl-sc-block-heading__text"> 7. Sale of Existing Home </span></h3>
            <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
            <div class="text">
                <p>If you are an existing homeowner and you will need the funds from the sale of that home to buy the
                    home you are making an offer on, you should make your purchase offer contingent upon the sale of
                    your current home. You should also provide a reasonable time frame for you to sell your home, such
                    as 30 or 60 days. The seller of the property you're interested in is not going to want to take his
                    property off the market indefinitely while you search for a buyer.</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <div id="mntl-sc-block_1-0-24" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
            <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
            <div class="text">
                <p>There are many other things that go into a thorough real estate contract, but for the most part, you
                    shouldn't have to worry about them. Real estate agents will commonly use standardized,
                    fill-in-the-blank forms that cover all the bases, including the ones described in this article.</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <div class="text">
                <p>In California, for example, a common form is the California Residential Purchase Agreement and Joint
                    Escrow Instructions document produced by the California Association of Realtors.
                    If you want to familiarize yourself with the details of the purchase agreement form you're likely to
                    use before you write your offer, ask your real estate agent for a sample agreement, or search online
                    for the standard form that is common in your state or locality. (If you are looking for a good deal
                    and have time to wait, a short-sale house may be for you. To learn more, read:&nbsp;<em>Purchasing A Short-Sale
                        Property</em>.)</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <h3 id="mntl-sc-block_1-0-29" class="comp mntl-sc-block mntl-sc-block-heading"><span
                    class="mntl-sc-block-heading__text"> The Bottom Line </span></h3>
            <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
            <div class="text">
                <p>Even though these forms are common and standardized and a good real estate agent would not let you
                    leave anything important out of your contract, it is still a good idea to educate yourself about the
                    key components of a real estate purchase agreement.</p>
            </div><!-- end: comp mntl-sc-block finance-sc-block-html mntl-sc-block-html -->
            <div id="mntl-block_2-0" class="comp js-scads-inline-content mntl-block">
            </div><!-- end: comp js-scads-inline-content mntl-block -->
        </div><!-- end: comp mntl-sc-page mntl-block -->
        <div id="textnote-placeholder_1-0" class="comp textnote-placeholder mntl-block"></div>
        <!-- end: comp textnote-placeholder mntl-block -->
        <div id="test-textnote__onebyfive_1-0"
             class="comp test-textnote__onebyfive textnote mntl-gpt-adunit gpt native ">
            <div id="textnote" class="wrapper">
                <div id="google_ads_iframe_/479/investopedia/inv_real-estate/textnote_0__container__"
                     style="border: 0pt none; width: 1px; height: 5px;"></div>
            </div>
        </div><!-- end: comp test-textnote__onebyfive textnote mntl-gpt-adunit gpt native -->
        <aside id="right-rail_1-0" class="comp right-rail mntl-block"></aside><!-- end: comp right-rail mntl-block -->
    </div>
{% endblock %}