/* html, body {
    height: 100%;
    margin: 0;
    background-color: darkblue;
}
div{
    background-color: magenta;
}
.wrapper {
    background-color: aquamarine;
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
/*    margin-bottom: -50px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

