/* https://medium.freecodecamp.org/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c skoða*/
*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%
}
p {
    color: #00008b;
    text-align: left;
}

h4 {
    color: darkblue;
}



/* áberandi litur þegar þú setur mús yfir link */
a:hover {
  color: darkgreen;
    background-color: lightgreen;
    text-decoration: underline black;
}

/* selected link */
a:active {
  color: black;
    background-color: yellow;

}

#page-container { /* page container is  */

    overflow: auto;
    text-align: center;
    position: relative;
    /* min-height: 500vh; */

}

#container {
    background-color: lightblue;
    /*padding-bottom: 2.5rem;*/
    min-height: 100%;
}
.content {
    background-color: #A4B9CE;
    padding-bottom: 2.5rem;
    padding-block-end: 400px;
    min-height: 100%;
}


#footer {
    background-color: darkblue;
    position: relative;
    height: 300px;
    margin-bottom: 0;
    clear: both;
    width: 100%;
    content: 200px;
    color: white;
    padding: 0;
    margin: 0;
}



.mr-3 {
    width: 12.5vw;
    height: 12.5vh;
}



#navbarDropdown img:hover {
    opacity: 60%;
}

#navbarDropdown img {
    width: 15%;
    height: 7vh;
    border-radius: 50%;
} /*mynd sem sést í Navbar, Index.html*/



.single_property_item img {
    max-height: 20vh;
    max-width: 20vh;
}


.single_property_item img:hover{
    opacity: 70%;
}

.properties {
    display: flex;
    /*justify-content: center;*/
}


.single_property_menu {

    color: #fff;
  /*flex-direction: column; */
  width: 900px;
  display: flex;
  justify-content: space-around;
    padding: 15px;

}

.single_property_item {
    border: 1px solid #fff;
    justify-content: space-around;
    color: orangered;
    background-color: #ffffff;
    padding: 20px;
    width: 500px;
    height: 500px;
}

#price_of_property_id { /* verð ætti að vera grænt á litinn. */
    color: green;
}

.the-team {
    font-weight: bold;
}

#rhs_footer_links {
    text-align: right;
    color: white;
    font-size: 12px;
    position: right;


}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#article-body_1-0 {
    margin-left: 200px;
    margin-right: 200px;
    padding-block-end: 600px;
}

.navbarDropdown{
    width:0px;
}

.nav-item dropdown {
    width: 100%;
}

#rhs_footer_links {    /* minnka bootstrap svo það komi footer með lægri hæð */
        margin-block-start: 0em;
    margin-block-end: 0em;
        padding-inline-start: 0px;
    padding: 0.1rem;   /* minnkar footer og navigation bar */
}

.banner  {            /* hvítur litur á forsíðunni */
    color: white;
}


#SignUp_Title_id {
    color: green;
}

.account_all img {
    width: 400px;
    height: 400px;
    float: left;         /* mynd á að vera vinstra megin við texta*/
    position: right;
    margin-right: 25px;  /* fá bil á milli img og textaupplýsinga*/
    position: relative;



}

.account_all {
    color: white;
    font-weight: bold;
    margin-left:35%;  /* texti á að byrja í miðjunni, og þá endar mynd í miðjunni */
     position: relative;
}


#page-container-account-details{
        position: relative;
}


.account_properties{
    position: absolute;
    bottom: 0;
}

#link_for_my_properties{
    margin-top: 100px;
    text-align: center;
}

.searchfrom{
    padding: 30px;
    margin: 20px;
}

.dropdown-menu{
    overflow: ;
}