/* https://medium.freecodecamp.org/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c skoða*/
*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%
}
p {
    color: #00008b;
    text-align: left;
}

h4 {
    color: darkblue;
}

a {

}

#page-container { /* page container is  */

    overflow: auto;
    padding-bottom: 250px;
    /*position: relative;
    min-height: 100vh;
    text-align: center;
    color: #000000;
    width: 100%;*/
}

#container {
    background-color: #ffffff;
    /*padding-bottom: 2.5rem;*/
    min-height: 100%;
}
.content {
    background-color: #A4B9CE;
    padding-bottom: 2.5rem;
}


#footer {
    background-color: darkblue;
    position: relative;
    height: 300px;
    margin-top: -200px;
    margin-bottom: 0;
    clear: both;
    width: 100%;
    content: 200px;


    color: white;
    padding: 0;

}


.mr-3 {
    width: 12.5vw;
    height: 12.5vh;
}

#navbarDropdown img {
    width: 15%;
    height: 7vh;
    border-radius: 50%;
    hover: opacity: 60%;
}

/*mynd sem sést í Navbar, Index.html*/


.single_property_item img {
    max-height: 20vh;
    max-width: 20 wh;
}

.properties {
    display: flex;
    justify-content: center;
}

.single_property_menu {

    color: #fff;
    /*lex-direction: column; */
    width: 900px;
    display: flex;
    justify-content: flex-start;
    padding: 15px;

}

.single_property_item {
    border: 1px solid #fff;
    justify-content: space-around;
    color: orangered;
    background-color: #ffffff;
    padding: 20px;
    width: 500px;
    height: 500px;
}

.price_of_property_id { /* verð ætti að vera grænt á litinn. */
    color: greenyellow;
}

.the-team {
    font-weight: bold;
    padding-block-end: 400px;
}

.rhs_footer_links {
    text-align: right;
    color: white;
    font-size: 12px;
    position: left;


}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#article-body_1-0 {
    margin-left: 200px;
    margin-right: 200px;
}