{% extends 'index.html' %}
{% block content %}
    <div id="page-container">
        <div class="buying-steps">
            <div class="step-column">
                <div id="step1" class="active-step">
                    <div class="icon">1</div>
                    <div class="step-text">Information</div>
                </div>
            </div>
            <div class="step-column">
                <div id="step2" class="step">
                    <div class="icon">2</div>
                    <div class="step-text">Payment</div>
                </div>
            </div>
            <div class="step-column">
                <div id="step3" class="step">
                    <div class="icon">3</div>
                    <div class="step-text">Review</div>
                </div>
            </div>
        </div>

        <div class="content2" style="margin: 0%">

            {% block content2 %}

            {% endblock %}
        </div>
    </div>
{% endblock %}