{% extends 'index.html' %}

{% block content %}
    <div class="property_all" id="property_all">
        <h1>{{ property.address.street }} {{ property.address.house_no }}</h1>
        <h2>{{ property.address.city.zip }} {{ property.address.city.city }}, {{ property.address.city.country }}</h2>
        <img src="{{ property.detail.property_image }}" alt="Property image" id="prop-img">
        <div class="detail-banner">
            <div class="details-about-property">
                <p>Type: {{ property.detail.type.type }}</p>
                <p>Price: {{ property.detail.price }}</p>
                <p>Size: {{ property.detail.size}}</p>
                <p>Rooms: {{ property.detail.rooms }}</p>
            </div>
            <div class="tags-for-property">
                <p>Elevator: {{ property.detail.tags.elevator|yesno:"Yes,No" }}</p>
                <p>Garage: {{ property.detail.tags.garage|yesno:"Yes,No" }}</p>
                <p>Near a blood bank: {{ property.detail.tags.near_bloodbank|yesno:"Yes,No" }}</p>
                <p>Dungeon: {{ property.detail.tags.dungeon|yesno:"Yes,No" }}</p>
                <p>Secret entrance: {{ property.detail.tags.secret_entrance|yesno:"Yes,No" }}</p>
            </div>
            <p>{{ property.detail.description }}</p>
        </div>
        <div class="button-banner">
            {% if user.is_authenticated %}
                {% if property.user.id == user.id %}
                    <a class="btn btn-info" href="{% url 'edit_property' property.id %}">Edit Property</a>
                    <a class="btn btn-danger" href="{% url 'delete_property' property.id %}">Delete Property</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'seller_profile' property.id %}">Contact Seller</a>
                    <a class="btn btn-primary" href="{% url 'buy_property' property.id %}">Buy Property</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}