{% extends 'index.html' %}

{% load static %}
{% block content %}
{% csrf_token %}
    <div id="page-container">
        <form method="get" class="searchfrom">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">


                {% for field in form %}
                    {% if field.label == 'Country' or field.label == 'Zip' %}
                        <div class="btn btn-outline toggle btn-lg">{{ field }}</div>
                    {% elif field.label == 'Sort' %}

                        <div class="dropdown">
                            <button class="btn btn-outline-primary toggle btn-lg" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Order By:
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for name in field %}
                                <div class="dropdown-item">{{ name }}</div>
                                {% endfor %}

                            </div>
                        </div>


                    {% endif %}
                {% endfor %}

            </div>
            <div>
                <input type="submit" class="button" value="GO!"/>
                {#                <button type="submit">GO!</button>#}
            </div>
        </form>
        {% block content1 %}

        {% endblock %}

    </div>




    </div>



{% endblock %}


