{% extends 'index.html' %}

{% load static %}
{% block content %}
    <div id="page-container">
        <form method="post" class="searchfrom">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                {% csrf_token %}

                {% for field in form %}

                    {% if field.label == 'Country' or field.label == 'Rooms' or field.label == 'Zip' %}
                        <div class="btn btn-outline-primary toggle btn-lg">{{ field }}</div>
                    {% else %}
                        <div class="dropdown">
                            <button class="btn btn-outline-primary toggle btn-lg" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ field.label_tag }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-item">{{ field }}</div>

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}







                <button class="btn btn-success toggle btn-lg" type="submit">GO!</button>
            </div>
        </form>
        {% block content1 %}

        {% endblock %}

    </div>




    </div>



{% endblock %}


<div class="btn-group" role="group">
    <ul class="col-md-12 dropdown">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ field.label_tag }}
        </button>
        <ul class="dropdown-menu scrollable-menu" role="menu">
            {% for country in field %}
                <li><a href="#">{{ country }}</a></li>
            {% endfor %}
        </ul>
</div>
</div>