<div class="single_property_menu">
        <div class="single_property_item">
            <a href="/properties/{{ properties.id }}">
                <img class="property_image" src="{{ properties.detail.property_image }}" alt="Image of property">
                <h4>{{ properties.address.street }} {{ properties.address.house_no }}, {{ properties.address.city.country }}</h4>
                <p id="price_of_property_id">{{ properties.detail.price }}</p>
                <p>{{ properties.detail.description }}</p>
            </a>
        </div>
    </div>
