{% extends 'Properties/BuyProperty.html' %}

{% block content2 %}
        <div id="page-container">
        <h1>Enter your information here</h1>

        <form class="form form-horizontal" method="POST">
            {% csrf_token %}
            {{ user_form }}
            {{ addresses_form }}
            {{ cities_form }}
            <input type="submit" class="btn btn-primary" value="Update"/>
        </form>
    </div>
    <a href='#'><input type="button" class="cancel-link" value="Cancel"></a>
    <a href='{% url '/' %}'><input type="submit" class="btn btn-primary" value="Continue to Payment step"/></a>


{% endblock %}
{#{% url 'property_details' properties.id %}#}
{#{% url 'payment' %}#}
{#{% url 'payment_information_purchase' %}#}