{% extends 'Properties/BuyProperty.html' %}
{% load crispy_forms_tags %}
{% block content2 %}
    <div id="page-container">
        <h1>Check if your information is correct</h1>
        <h2>Then continue to the next step</h2>

        <form method="POST">
            {% csrf_token %}
            {{ user_form.ssn|as_crispy_field }}
            <div class="row">
                <div class="col-1">
                    {{ addresses_form.street|as_crispy_field }}
                </div>
                <div class="col-1">
                    {{ addresses_form.house_no|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ cities_form.city|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ cities_form.zip|as_crispy_field }}
                </div>
            </div>
            {{ cities_form.country|as_crispy_field }}
            {{ payment_form.cc_number|as_crispy_field }}
            <div class="row">
                <div class="col-3">
                    {{ payment_form.cc_month |as_crispy_field }}
                </div>
                <div class="col3">
                    {{ payment_form.cc_year|as_crispy_field }}
                </div>
            </div>
            <a href="{% url 'front_page_index' %}">Back</a>
            <input type="submit" class="btn btn-success" value="Continue"/>

        </form>


    </div>

    {#    <a href='{% url 'payment_information_purchase' %}'><input type="submit" class="btn btn-primary" value="Continue"/></a>#}




{% endblock %}
{#{% url 'property_details' properties.id %}#}
{#{% url 'payment' %}#}
{#{% url 'payment_information_purchase' %}#}