

{% extends 'Properties/BuyProperty.html' %}

@login_required
{% block content2 %}
    <div id="page-container">
        <form class="form form-horizontal" method="POST">
            {% csrf_token %}
            {{ payment_form }}
            <input type="submit" class="btn btn-primary" value="Continue"/>
        </form>
        {#        <a class="btn btn-primary" href="{% url 'user_information_purchase' property.id %}">Back</a>#}
        {#        <a class="btn btn-primary" href="{% url 'review_purchase' property.id %}">Continue</a>#}

    </div>

{% endblock %}