{% extends 'index.html' %}

{% block content %}
    <div id="page-container-account-details">
        <h1>My Account</h1>
        <h2>{{ user.username }}</h2>
        <div class="account_all">

            <img src="{{ user.profile.profile_image }}" alt="user image">
            <p>Name:  {{ user.first_name }} {{ user.last_name }}</p>
            <p>SSN: {{ user.profile.ssn }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Phone: {{ user.profile.phone }}</p>
            <p>Country: {{ user.profile.address.city.country }}</p>
            <p>City: {{ user.profile.address.city.city }}</p>
            <p>Zip: {{ user.profile.address.city.zip }}</p>
            <p>Street: {{ user.profile.address.street }}</p>
            <p>House Number: {{ user.profile.address.house_no }}</p>
        </div>
        <div class="account_properties">
        <div class="link_for_my_properties">
            <a href="{% url 'account_properties' %}"><h2>My Properties</h2></a>
        </div>
        </div>
            {% for properties in properties %}
                {% include 'Properties/SinglePropertyView.html' with properties=properties %}
            {% endfor %}
        </div>
    </div>
    </div>


{% endblock %}