{% extends 'index.html' %}

{% block content %}
    <div id="page-container" style="align-items: center;">
        <h1>My Account</h1>
        <div class="card" style="width: 18rem; align-items: center;">
            <img class="card-img-to" src="{{ user.profile.profile_image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: {{ user.first_name }} {{ user.last_name }}</li>
                <li class="list-group-item">SSN: {{ user.profile.ssn }}</li>
                <li class="list-group-item">Email: {{ user.email }}</li>
                <li class="list-group-item">Phone: {{ user.profile.phone }}</li>
                <li class="list-group-item">Country: {{ user.profile.address.city.country }}</li>
                <li class="list-group-item">City: {{ user.profile.address.city.city }}</li>
                <li class="list-group-item">Zip: {{ user.profile.address.city.zip }}</li>
                <li class="list-group-item">Street: {{ user.profile.address.street }}</li>
                <li class="list-group-item">House Number: {{ user.profile.address.house_no }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'edit_account' %}" class="card-link">Edit Account</a>
            </div>
        </div>

        <div class="account_properties">
            {% if properties %}
                <a href="{% url 'account_properties' %}"><h2>My Properties</h2></a>
                <div class="card" style="width: 18rem;">
                    {% for properties in properties %}
                        {% include 'Properties/SinglePropertyView.html' with properties=properties %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}