{% extends 'index.html' %}

{% block content %}

    <h1>My Properties</h1>
    <a class="btn btn-success" href="{% url 'create_property' %}">Add Property</a>
    {% for properties in properties %}
        {#        {% if properties.is_active == True %}#}
        {% include 'Properties/SinglePropertyView.html' with properties=properties %}
        <a class="btn btn-info" href="{% url 'edit_property' properties.id %}">Edit Property</a>
        <a class="btn btn-danger" href="{% url 'delete_property' properties.id %}">Delete Property</a>
        {#        {% endif %}#}
    {% endfor %}
{% endblock %}
