{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="page-container">
        <h1>Enter your information here</h1>
        <form class="form form-control" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-3">
                    {{ user_form.username|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ profile_form.ssn|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ user_form.first_name|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ user_form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ profile_form.phone|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ user_form.email|as_crispy_field }}
                </div>
            </div>
            {{ profile_form.profile_image|as_crispy_field }}
            <div class="row">
                <div class="col-1">
                    {{ addresses_form.street|as_crispy_field }}
                </div>
                <div class="col-1">
                    {{ addresses_form.house_no|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ cities_form.city|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ cities_form.zip|as_crispy_field }}
                </div>
            </div>
            {{ cities_form.country|as_crispy_field }}
            <input type="submit" class="btn btn-success" value="Update"/>
        </form>
    </div>
{% endblock %}


